---
---

<body>
  <div class="order-1 md:order-2">
    <img 
      src="/profile.jpeg" 
      alt="Benjamin Bushnell" 
      class="rounded-2xl shadow-2xl w-full h-auto object-cover border-4 border-white/10 shadow-[0_0_50px_rgba(255,151,118,0.2)]"
    />
  </div>
  <div class="order-2 md:order-1">
    <h1 class="text-center">About Benjamin Bushnell</h1>
    <p>Benjamin loves puzzles, making connections between seemingly unrelated things, and machines that do their jobs very well. Whether it be coding, producing music, or writing, he loves tinkering and recreating beautiful things to see how they work— to add more beauty to the world.</p>
    <p>He is currently a Cloud DevOps Engineer with the U.S. Department of the Interior. He works primarily in AWS and specializes in infrastructure, automation and CI/CD. The most important skills he uses at this job are:</p>
    <ul>
      <li>GitLab CI/CD</li>
      <li>AWS Lambda</li>
      <li>Python + Boto3</li>
      <li>CloudFormation</li>
      <li>Ansible</li>
    </ul>
    <p>Everything good that Benjamin is or has accomplished can be owed to the gifts given to him by God. All glory to Him and Him alone.</p>
  </div>
</body>
