---
import MusicCard from '../components/MusicCard.astro';
---

<body >
  <h1 class="text-center pb-15">Music</h1>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <MusicCard
        title="Revival"
        artist="Voxide"
        platform="Spotify"
        spotify_url="https://open.spotify.com/album/5VTIEL6SQBJbC8OuNS0zOb?si=-a0pD9FuQRih2E2FD-Gvqg"
        apple_url="https://music.apple.com/gb/album/revival-ep/1717317446"
        soundcloud_url="https://soundcloud.com/voxide/sets/revival-ep"
        coverImage="/images/albums/Revival_art.png"
    />
  </div>
</body>
